---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <main class="w-full min-h-screen bg-background">
    <section class="bg-primary py-20">
      <div class="w-full max-w-300 mx-auto text-background">
        <h1 class="font-black text-5xl font-title">Sobre Nosotros</h1>
        <p class="mt-6 text-xl font-normal max-w-200">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non officiis
          ad, tempora accusantium repudiandae voluptatum dolorum illum omnis
          nihil, eum, excepturi consequatur impedit qui unde beatae sint minima
          sequi quas.
        </p>
      </div>
    </section>
    <section class="w-full bg-primary-muted py-20">
      <div class="w-full max-w-300 mx-auto">
        <h2 class="text-5xl font-black font-title">Quienes Somos?</h2>
      </div>
    </section>
  </main>
</Layout>
