---
import { ArrowRight } from "@lucide/astro";
import texture from "../../assets/texture.png";
import { FloatingNuts, ParallaxTable } from "./HeroInteractive";
import Button from "../common/Button.astro";

interface Props {
  tableImageUrl: string;
  macroImages: {
    almendra: string;
    mani: string;
    nuezBrasil: string;
    nuezNogal: string;
    pistacho: string;
  };
}

const { tableImageUrl, macroImages } = Astro.props;
---

<section
  id="hero-section"
  class="relative flex flex-col w-full overflow-hidden text-background bg-primary"
>
  <FloatingNuts client:load images={macroImages} />

  <div
    class="relative flex flex-col md:flex-row max-w-7xl mx-auto pb-2 md:pb-6 h-full [@media(min-width:1440px)_and_(min-height:900px)]:pb-18 w-full px-4 md:px-0 z-10"
  >
    <div
      class="order-2 md:order-1 max-w-4xl text-left flex flex-col gap-4 pt-10 md:pt-8 lg:pt-32 px-0 md:px-10 2xl:px-0"
    >
      <h1
        class="text-[2.55rem] lg:text-6xl xl:text-[4.5rem] font-black leading-[1.1] font-title"
      >
        Recien Tostados,
        <br />
        Cuidadosamente
        <br />
        Seleccionados.
      </h1>
      <p class="text-base md:text-xl font-medium">
        Frutos secos, semillas y snacks al por mayor <br /> en todo el Perú.
      </p>
      <div class="pt-4">
        <Button size="lg" class="py-2!">
          Cotiza tu pedido
          <ArrowRight class="size-5 ml-2" stroke-width={3} />
        </Button>
      </div>
    </div>

    <div
      class="order-1 md:order-2 relative flex items-center justify-center w-full pt-14 md:pt-0"
    >
      <ParallaxTable client:load src={tableImageUrl} />
    </div>
  </div>

  <div
    class="w-full bg-background relative z-1 flex justify-center overflow-hidden"
  >
    <img
      src={texture.src}
      alt="texture"
      class="-translate-y-0.5 min-w-360 w-full object-cover"
    />
  </div>
</section>
