@import "tailwindcss";

@font-face {
  font-family: 'Bespoke Sans';
  src: url('../assets/fonts/BespokeSans-Variable.woff2') format('woff2');
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Excon';
  src: url('../assets/fonts/Excon-Variable.woff2') format('woff2');
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Colores en formato HSL compatible con opacidad */
  --color-background: #FCFAF7;
  --color-foreground: #24211F;
  --color-primary: #542856;
  --color-secondary: #9BC53D;
  --color-accent: hsl(42 97% 54%);
  --color-muted: hsl(35 20% 80%);
  --color-muted-foreground: hsl(294 20% 40%);
  --color-border: #161616;
  --color-dark: #161616;
  
  /* Background Image */
  --image-site-bg: url('../assets/site-background.jpg');

  /* Fuentes */
  --font-sans: "Bespoke Sans", ui-sans-serif, system-ui, sans-serif;
  --font-title: "Excon", sans-serif;
}