---
import Layout from "../../layouts/Layout.astro";
import { products } from "../../data/products";
import { ProductDisplay } from "../../components/product/ProductDisplay";

export async function getStaticPaths() {
  return products.map((product) => ({
    params: { slug: product.slug },
    props: { product },
  }));
}

const { product } = Astro.props;
---

<Layout>
  <main class="relative w-full min-h-screen bg-background">
    <ProductDisplay client:load product={product} />
  </main>
</Layout>
