---
import Layout from "../layouts/Layout.astro";
import ProductsSection from "../components/landing/ProductsSection.astro";
import PartnersSection from "../components/landing/PartnersSection.astro";
import HowWeWorkSection from "../components/landing/HowWeWorkSection.astro";
import FaqSection from "../components/landing/FaqSection.astro";
import HeroSection from "../components/landing/HeroSection.astro";
import table from "../assets/tabla-gemini.webp";
import almendraGemini from "../assets/macro-fotos/almendra-gemini.png";
import maniGemini from "../assets/macro-fotos/mani-gemini.png";
import nuezBrasilGemini from "../assets/macro-fotos/nuez-brasil-gemini.png";
import nuezNogalGemini from "../assets/macro-fotos/nuez-nogal-gemini.png";
import pistachoGemini from "../assets/macro-fotos/pistacho-gemini.png";
import AboutSection from "../components/landing/AboutSection.astro";
import FloatingWhatsApp from "../components/common/FloatingWhatsApp.astro";
---

<Layout title="Nuts Peru">
  <FloatingWhatsApp />

  <main class="relative w-full">
    <HeroSection
      tableImageUrl={table.src}
      macroImages={{
        almendra: almendraGemini.src,
        mani: maniGemini.src,
        nuezBrasil: nuezBrasilGemini.src,
        nuezNogal: nuezNogalGemini.src,
        pistacho: pistachoGemini.src,
      }}
    />

    <AboutSection />
    <ProductsSection />
    <PartnersSection />
    <HowWeWorkSection />
    <FaqSection />
  </main>
</Layout>
