---
import Layout from "../layouts/Layout.astro";
import ProductsSection from "../components/landing/ProductsSection.astro";
import PartnersSection from "../components/landing/PartnersSection.astro";
import HowWeWorkSection from "../components/landing/HowWeWorkSection.astro";
import { FeaturesSection } from "../components/landing/FeaturesSection";
import { HeroSection } from "../components/landing/HeroSection";
import table from "../assets/tabla-gemini.png";
import starBadge from "../assets/star-badge.svg";
import almendraGemini from "../assets/macro-fotos/almendra-gemini.png";
import maniGemini from "../assets/macro-fotos/mani-gemini.png";
import nuezBrasilGemini from "../assets/macro-fotos/nuez-brasil-gemini.png";
import nuezNogalGemini from "../assets/macro-fotos/nuez-nogal-gemini.png";
import pistachoGemini from "../assets/macro-fotos/pistacho-gemini.png";
---

<Layout title="Nuts Peru">
  <main class="relative w-full">
    <HeroSection
      client:load
      tableImageUrl={table.src}
      macroImages={{
        almendra: almendraGemini.src,
        mani: maniGemini.src,
        nuezBrasil: nuezBrasilGemini.src,
        nuezNogal: nuezNogalGemini.src,
        pistacho: pistachoGemini.src,
      }}
    />

    <section class="bg-background py-30 px-6 md:px-0">
      <div class="flex flex-col w-full items-center container mx-auto">
        <h2 class="font-title font-black text-3xl md:text-5xl text-foreground">
          Somos Nuts Perú
        </h2>
        <p
          class="text-foreground text-center text-balance mt-6 text-base md:text-xl font-medium"
        >
          En Nuts Perú, nos dedicamos a ofrecer frutos secos y snacks saludables
          de la más alta calidad al por mayor. Nuestra pasión por la excelencia
          y el compromiso con la salud nos impulsa a seleccionar cuidadosamente
          cada producto que ofrecemos.
        </p>

        <FeaturesSection client:load />
      </div>
    </section>
    
    <!-- <PartnersSection /> -->
    
    <ProductsSection />
    <HowWeWorkSection />
  </main>
</Layout>
