---
import logo from "../../assets/logo-white.png";
import { ChevronDown } from "@lucide/astro";

const navItems = [
  { name: "Nuestros Productos", href: "#" },
  { name: "Sobre Nosotros", href: "#" },
  { name: "Contacto", href: "#" },
];
---

<header class="bg-primary w-full z-50 px-4 md:px-0">
  <div
    class="flex items-center justify-between max-w-360 w-full mx-auto lg:px-10 py-6"
  >
    <a href="/" class="flex items-center">
      <img
        src={logo.src}
        alt="Nuts Peru Logo"
        class="h-14 md:h-16 w-auto object-contain"
      />
    </a>

    <nav class="hidden md:flex items-center gap-6">
      {
        navItems.map((item) => (
          <a
            href={item.href}
            class="flex items-center text-[17px] text-background transition-colors font-semibold leading-tight hover:bg-primary-muted hover:text-foreground rounded-2xl py-2 px-3"
          >
            {item.name}
            {item.name === "Nuestros Productos" ? (
              <ChevronDown class="h-5 w-5 ml-1 mt-1" />
            ) : null}
          </a>
        ))
      }
    </nav>
  </div>
</header>
